# Node.js dependencies
node_modules/

# IDE configurations
.idea/
.vscode/

# Logs
logs/
*.log

# Environment variables (ensure this is not checked into version control)
.env

# OS files (for Mac, Windows, etc.)
.DS_Store
Thumbs.db
